-----------------BOOK DETAILS -------------------
.book-detail{
    margin-top: 2rem;
}
.book-detail .flex-btn{
    display: flex;
    align-items: center;
    padding: .50rem;
    border: none;
    outline: none;
    background: transparent;
}
.book-detail .flex-btn span{
    padding-left: .20rem;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

.book-detail .wrap-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}
.book-detail .wrap-book .image{
    width: 30%;
}
.book-detail .wrap-book .image img{
    padding: 2rem;
}
.book-detail .wrap-book .book-info{
    width: 65%;
    padding: 2rem;
}
.book-detail .wrap-book .book-info .title{
    font-size: 1.2rem;
}
.book-detail .wrap-book .book-info .book-description,
.book-detail .wrap-book .book-info .subject-places,
.book-detail .wrap-book .book-info .subject-times,
.book-detail .wrap-book .book-info .subjects{
    font-weight: bold;
    font-size: 1.1rem;
}
.book-detail .wrap-book .book-info .book-description,
.book-detail .wrap-book .book-info .subject-places span,
.book-detail .wrap-book .book-info .subject-times span,
.book-detail .wrap-book .book-info .subjects span{
    font-size: 1rem;
    font-weight: normal;
}






/* ------------------RESPONSIVE DEVIDE --------------------- */
@media (max-width: 990px){
    .book-detail{
        margin-top: 2rem;
        width: 100%;
    }
    .book-detail .wrap-book{
        flex-direction: column;
    }
}
@media (max-width: 550px){
    .book-detail{
       width: 100%;
    }
    .book-detail .wrap-book{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0;
    }
    .book-detail .wrap-book .image{
        width: 90%;
        text-align: center;
    }
    .book-detail .wrap-book .image img{
        padding: 1rem;
        height: 350px;
    }
    .book-detail .wrap-book .book-info{
        width: 100%;
        overflow-y: scroll;
        height: 100vh;
    }
    .book-detail .wrap-book .book-info::-webkit-scrollbar{
        width: 8px;
    }
    .book-detail .wrap-book .book-info::-webkit-scrollbar-track{
        border-radius: 8px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .book-detail .wrap-book .book-info::-webkit-scrollbar-thumb{
        background-color: var(--purple-color);
        outline: 1px solid slategray;
        border-radius: 8px;
    }
    
}