.header-content{
    background-image: url("../../Image/library-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 75vh;
    position: relative;
    width: 100%;
}
.header-content .shadow1{
    background-image: radial-gradient( circle 897px at 9% 80.3%,  rgba(55, 61, 245, 0.33), rgba(234, 161, 15, 0.34) 100.2% ); 
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 7rem;
}
.header-content .shadow1 p{
    width: 70%;
    margin: 0 auto;
    font-family: 'Hanuman';
}


